<h2 id="about-island-hopping--title">What is island-hopping?</h2>
<p id="about-island-hopping--info">
  It's the activity of flying or ferrying yourself from one island to another,
  usually as a tourist. It's a fun way to experience the culture of each island
  and it's individual characteristics.
</p>
