<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <title>JAC Enterprises Island Hopping Header</title>
  </head>

  <body>
    <header>
      <h2 id="header-title">JAC Enterprises</h1>
      <nav id="header-nav">
        <ul id="header-nav--list">
          <li class="header-nav--listitem">
            <a href="/island-hopping">Home</a>
          </li>
          <li class="header-nav--listitem">
            <a href="/island-hopping/about-island-hop">About JAC Enterprises</a>
          </li>
          <li class="header-nav--listitem">
            <a href="/island-hopping/about-team">About Scrum Lordz</a>
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
