.island-list__heading {
  text-align: center;
  margin: 30px auto;
  border-radius: 10px;
  font-size: 30px;
}

.island-list-nav {
  border-radius: 10px;
  border: 2mm ridge brown;
  color: rgb(3, 3, 10);
  padding: 0;
}

.island-list-links__country {
  list-style-type: none;
  text-align: center;
  border: 7px solid brown(175, 89, 89);
  border-radius: 10px;
  background: rgba(76, 175, 80, 0.3);
  border-style: outset;
}
