* {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px;
}

.container {
  border-radius: 5px;
  max-width: 100vw;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 10px;
  position: sticky;
}

#header_title {
  margin-left: 0;
}

#header__nav {
  margin: 5px;
}

#header-nav--list {
  display: flex;
  justify-content: space-evenly;
}

/* a {
  padding: 0.25 rem 0.5rem;
} */

.header-nav--listItem {
  margin: 1rem;
  text-align: center;
}

.header-nav--listItem:hover {
  padding: 3px;
}

#island-hopping__title {
  text-align: center;
  margin: 30px;
}

#where-to {
  text-align: center;
  margin: 30px;
}

#continents__map__list {
  border-radius: 5px;
  margin: 2px;
  display: flex;
}
#continents__image {
  text-align: center;
  height: auto;
  max-width: 75%;
  margin: 5px;
  /* width: 60% */
}

#continents__list {
  display: grid;
  align-items: center;
  width: fit-content;
}

.listItem {
  text-align: center;
  margin: 10px 50px 20px 0;
  padding: 0;
}

.no-link__listItem {
  text-align: center;
  margin: 10px 50px 20px 0;
  padding: 0;
}

#about-island-hopping {
  display: block;
  justify-content: space-between;
  margin: 25px auto;
  padding: 3px;
  text-align: center;
}

#about-island-hopping--title {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

#about-team--title {
  text-align: center;
  margin-left: 2px;
}

.about-column {
  border-radius: 5px;
  margin: 2px;
}

#about-team-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.about-name {
  margin: 20px;
  text-align: center;
}

.about-column--figure {
  max-width: 100%;
  text-align: center;
}

.about-image {
  text-align: center;
  height: auto;
  max-width: 50%;
  margin: 5px;
}

.about-bio {
  margin: 10px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25rem;
}

/* #footer__copyright {
  margin-left: 1rem;
} */
