@import url("https://fonts.googleapis.com/css2?family=Lato");
@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
  font-family: "Poppins", "Lato", Arial, sans-serif;
}

body {
  background-image: url("../images/island-wallpaper.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #a7effa;
}

html {
  color: rgb(3, 3, 10);
  font: 16px/1.5 sans-serif;
  font-family: "Poppins", sans-serif;
}

/* .container {
  background-color: #dfce9d;
} */

header {
  background-image: url("../images/sand-wallpaper.jpeg");
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: tan;
  border-radius: 10px;
  border: 2mm ridge brown;
  color: rgb(3, 3, 10);
}

h2 {
  color: rgb(3, 3, 10);
}

#header__nav {
  color: rgb(3, 3, 10);
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: rgb(3, 3, 10);
  text-decoration: none;
}
.header-nav--list {
  margin-bottom: 0px;
}

.header-nav--listItem {
  list-style-type: none;
  color: rgb(3, 3, 10);
  text-decoration: none;
  line-height: 20px;
  font-size: 20px;
}

.header-nav--listItem:hover {
  text-decoration: none;
  /* color: rgb(3, 3, 10); */
  transition: 0.5s;
  font-size: 25px;
}

#island-hopping__title {
  color: rgb(3, 3, 10);
}

#continents_list {
  color: rgb(3, 3, 10);
}
#about-island-hopping {
  background-color: #236e95;
  border: 1px solid #1d5171;
  border-radius: 5px;
}

#about-island-hopping--title {
  color: #c2b280;
}
#about-island-hopping--info {
  font-size: 12px;
  font: #f2f4f3;
}

#about-team--title {
  color: #1d5171;
}

.about-column {
  background-color: #236e95;
  border: 1px solid #1d5171;
  border-radius: 5px;
}

.about-name {
  color: #c2b280;
}

.about-image {
  border: 1px solid #1d5171;
  border-radius: 5px;
}

.about-bio {
  color: #f2f4f3;
  font-size: 12px;
}

#footer-copyright {
  color: rgb(3, 3, 10);
}
