<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script type="module" src="./something.js></script>
<link rel="stylesheet" href="resources/css/style.css" /> -->
    <title>JAC Adventures</title>
  </head>
  <body>
    <div class="container">
      <header>
        <!-- Group question: is JAC Adventures ok for a web page title? -->
        <h1 id="header-title">JAC Island Hopping Adventures</h1>
        <!-- <nav>
       <ul id="header-nav--list">
           <li class="header-nav--listitem">Nav bar item1</li>
           <li class="header-nav--listitem">Nav bar item1</li>
           <li class="header-nav--listitem">Nav bar item1</li>
       </ul>
   </nav>  -->
      </header>
      <main>
        <section id="about-island-hopping">
          <h2 id="about-island-hopping--title">What is island-hopping?</h2>
          <p id="about-island-hopping--info">all about island hopping</p>
        </section>
        <section id="about-team">
          <h2 id="about-team--title">Developer Team</h2>
          <section id="about-dom">
            <h3 class="about-title">Dom</h3>
            <img
              id="about-dom--image"
              src="node-sql-island-hopping/resources/images/Dom.jpg"
              alt="image of Dom"
              width="200px"
            />
            <p class="about-bio">
              Detail-oriented programmer at problem-solving within a given role.
              Equipped to analyze, to determine the best methods of getting work
              completed for clients. Outstanding interpersonal abilities to
              effectively collaborate with others. Willing to ask questions,
              take initiative and be resourceful.
            </p>
          </section>

          <section id="about-khalid">
            <h3 class="about-title">Khalid</h3>
            <img
              id="about-khalid--image"
              src="node-sql-island-hopping/resources/images/Khalid.jpg"
              alt="image of khalid"
              width="200px"
            />
            <p class="about-bio">
              I am a hard working, passionate, and collaborative professional
              always accepting of challenges and opportunities to enhance my
              software development skills. Adaptability and problem-solving are
              my core strengths and align with the technical skills required for
              success in full stack software development.
            </p>
          </section>

          <section id="about-Kadeen">
            <h3 class="about-title">Kadeen</h3>
            <img
              id="about-kadeen--image"
              src="node-sql-island-hopping/resources/images/Kadeen.jpg"
              alt="image of kadeen"
              width="200px"
            />
            <p class="about-bio">
              I am a software developer with Passion for developing innovative
              programs that will expedite the efficiency and effectiveness for
              organizational success. Well-versed in technology and writing code
              to create systems that are reliable and user-friendly. Skilled
              leader with 5+ years as a laboratory scientist who has the proven
              ability to motivate, educate and manage a team of professionals
              and effectively track changes. Confident communicator, strategic
              thinker, and innovative creator to develop software.
            </p>
          </section>

          <section id="about-donna">
            <h3 class="about-title">Donna</h3>
            <img
              id="about-donna--image"
              src="node-sql-island-hopping/resources/images/Donna.jpg"
              alt="image of Donna"
              width="200px"
            />
            <p class="about-bio">
              Results-oriented software engineer with software development
              skills, abilities, and experience gained from We Can Code It
              Coding boot camp and self study. Analytical and detail-oriented, I
              apply my technical expertise in analysis, design, development,
              testing, and implementation of various applications. My technical
              competence and complex problem-solving abilities are enhanced by a
              background in Chemical Engineering and 10 years of experience in
              the pharmaceutical industry. In addition, my current occupation as
              a Licensed Massage Therapist has allowed me to further develop
              strong interpersonal skills, giving me the ability to effectively
              collaborate within a team environment.
            </p>
          </section>
        </section>
      </main>
      <footer class="footer">
        <small id="footer-copyright">©Scrum Lordz 2023</small>
      </footer>
    </div>
  </body>
</html>

<!-- <button id="name-button">Text in button</button> -->
