<!-- Group question: is JAC Adventures ok for a web page title? -->
<h1 id="header-title">JAC Adventures</h1>
<!-- <nav>
       <ul id="header-nav--list">
           <li class="header-nav--listitem">Nav bar item1</li>
           <li class="header-nav--listitem">Nav bar item1</li>
           <li class="header-nav--listitem">Nav bar item1</li>
       </ul>
   </nav>  -->
