<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../css/layout.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <title>About Developer Team</title>
    <title>JAC Enterprises Island Hopping</title>
  </head>
  <body>
    <%- include('../partials/header'); %>
      <h2 id="about-island-hopping--title">What is island-hopping?</h2>
      <p id="about-island-hopping--info">
          It's the activity of flying or ferrying yourself from one island to another,
          usually as a tourist. It's a fun way to experience the culture of each island
          and it's individual characteristics.
      </p>
    <%- include('../partials/footer'); %>
  </body>
</html>
