<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <title>About Developer Team</title>
  </head>

  <body>
    <%- include('../partials/header'); %>
  </body>
</html>
