<h2 id="about-team--title">Developer Team</h2>
<div id="about-team-columns">
  <article class="about-column">
    <h3 class="about-name">Dom</h3>
    <figure class="about-column--figure">
      <img
        class="about-image"
        id="dom-image"
        src="resources/images/Dom.jpg"
        alt="image of Dom"
        width="200px"
      />
    </figure>
    <p class="about-bio">
      Detail-oriented programmer at problem-solving within a given role.
      Equipped to analyze, to determine the best methods of getting work
      completed for clients. Outstanding interpersonal abilities to effectively
      collaborate with others. Willing to ask questions, take initiative and be
      resourceful.
    </p>
  </article>

  <article class="about-column">
    <h3 class="about-name">Khalid</h3>
    <figure class="about-column--figure">
      <img
        class="about-image"
        id="khalid-image"
        src="resources/images/Khalid.jpg"
        alt="image of khalid"
        width="200px"
      />
    </figure>
    <p class="about-bio">
      I am a hard working, passionate, and collaborative professional always
      accepting of challenges and opportunities to enhance my software
      development skills. Adaptability and problem-solving are my core strengths
      and align with the technical skills required for success in full stack
      software development.
    </p>
  </article>

  <article class="about-column">
    <h3 class="about-name">Kadeen</h3>
    <figure class="about-column--figure">
      <img
        class="about-image"
        id="kadeen-image"
        src="resources/images/Kadeen.jpg"
        alt="image of kadeen"
        width="200px"
      />
    </figure>
    <p class="about-bio">
      I am a software developer with Passion for developing innovative programs
      that will expedite the efficiency and effectiveness for organizational
      success. Well-versed in technology and writing code to create systems that
      are reliable and user-friendly. Skilled leader with 5+ years as a
      laboratory scientist who has the proven ability to motivate, educate and
      manage a team of professionals and effectively track changes. Confident
      communicator, strategic thinker, and innovative creator to develop
      software.
    </p>
  </article>

  <article class="about-column">
    <h3 class="about-name">Donna</h3>
    <figure class="about-column--figure">
      <img
        class="about-image"
        id="donna-image"
        src="resources/images/Donna.jpg"
        alt="image of Donna"
        width="200px"
      />
    </figure>
    <p class="about-bio">
      Software developer with relevant skills, abilities, and experience gained
      from We Can Code It Coding boot camp. Analytical and detail-oriented, I
      apply my technical expertise in analysis, design, development, testing,
      and implementation of various applications. My technical competence and
      complex problem-solving abilities are enhanced by a background in Chemical
      Engineering and 10 years of experience in the pharmaceutical industry. In
      addition, my current occupation as a Licensed Massage Therapist has
      allowed me to further develop strong interpersonal skills, giving me the
      ability to effectively collaborate within a team environment.
    </p>
  </article>
</div>
