<h1 id="header-title">JAC Island Hopping Adventures</h1>
<nav id="header-nav">
  <ul id="header-nav--list">
    <li class="header-nav--listitem">
      <a href="#about-island-hopping">Island Hopping</a>
    </li>
    <!-- <li class="header-nav--listitem">
<a href="">Waterways</a>
</li> -->
    <li class="header-nav--listitem">
      <a href="#about-team">About Team</a>
    </li>
  </ul>
</nav>
